<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Café Oslo</title>
</head>
<body>

    <!------------------HERE STARTS THE HEADER-------------->
    <header>
        <div class="upper-navbar">
            <div class="logo"><img src="/images/Logo.png" alt="logo"></div>
            <nav class="right-navbar">
                <ul>
                    <li>EL ESPACIO</li>
                    <li>PRODUCTOS</li>
                    <li>OFERTAS</li>
                    <li>RESERVAS</li>
                    <li>CONTACTO</li>
                </ul>
            </nav>
            <div class="burguer"><i class="fas fa-bars"></i></div>

            <div>
                <h1>RECIÉN HECHO, <br>
                    TODOS LOS DÍAS
                </h1>

                <div class="white-bar"></div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, magnam. Temporibus reprehenderit quidem incidunt culpa. Perspiciatis deleniti ab perferendis atque pariatur, aliquam a fugit explicabo itaque doloribus, laborum libero rerum.</p>
            </div>
            
        </div>
        

    </header>

    <!------------------HERE STARTS THE MAIN SECTION-------------->
    <main>

    </main>

    <!------------------HERE STARTS THE FOOTER-------------->
    <footer>

    </footer>

</body>
</html>